{% extends 'base.html' %}

{% block title %}
    Manager's Hits
{% endblock title %}

{% block content %}
    {% if hits %}
        <br>
        <h3>Hits assigned you</h3>
        <ul>
            {% for hit in hits %}
                <li> <a href="{% url 'spy_app:hit_detail' hit.pk %}"> {{hit.id}} - {{hit.target_name}}  status: {{hit.status}} </a></li>
            {% endfor %}
        </ul>
        <br>
        {% if team %}
            <h4>Team ID: {{team.id}}</h4>
            {% if members_team %}
                {% for member in members_team %}
                    <h5>{{member.email}}</h5>
                    <ul>
                        {% for hit in member.hits %}
                            <li><a href="{% url 'spy_app:hit_detail' hit.pk %}"> {{hit.id}} - {{hit.target_name}}  status: {{hit.status}} </a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}

        {% else %}
            <h4>Not Team assigned you yet</h4>        
        {% endif %}
        
    {% else %}
        <br>
        <h3>Not Hits have been assigned you yet</h3>
    {% endif %}
{% endblock content %}

