{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Sign Up
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3" >
            </div>
            <div class="col-6" >
                <h2>Register</h2>
                <br>
                <div>
                    <form action="" method="POST" class="p-3 border border-2" >
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary mt-3">
                            Signup
                        </button>
                    </form>
                </div>
                <br>
                <p>Do you have an account already?</p>
                <a href="{% url 'auth:login' %}">Login</a>
            </div>
            <div class="col-3" >
            </div>
        </div>
    </div>
{% endblock content %}