{% extends 'base.html' %}

{% block title %}
    Hitmam Detail
{% endblock title %}

{% block content %}
        <br>
        <h3>Hitmam detail</h3>
        <ul>
            <li>Name: {{hitman.first_name}}</li>
            <li>email: {{hitman.email}}</li>
            <li>Status:
                {% if hitman.is_active %}
                    Activo
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="hidden" id="inactive" name="inactive_hitman" value="1">
                        <button type="submit"  class="btn btn-outline btn-success">Inactive hitman</button> 
                    </form>
                {% else %}
                    Inactivo
                {% endif %} 
            </li>
            <li>Description: {{hitman.description}}</li>
            {% if hitman.is_staff %}
                {% include 'includes/add_member_modal.html' %}
                {% include 'includes/delete_member_modal.html' %}
                <li>Members
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addHitmanModal">
                        Add member
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteHitmanModal">
                        delete member
                    </button>
                    {% if members %}
                            <ul>
                                {% for member in members %}
                                    <li>{{member.email}}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                </li>
                {% if msn %}
                    <div class="alert alert-{{msn_type}}" role="alert">
                        {{msn}}
                    </div>
                {% endif %}
            {% endif %}
        </ul>
{% endblock content %}

